body {
    background-color: black;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
}

.dino {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-color: white;
    animation: slideRight 10s linear infinite;
    margin-top: 50px;
    padding-top: 100px;
}

.jump {
    animation: jump 0.5s;
}

@keyframes slideRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(100vw - 50px));
    }
}

@keyframes jump {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}